main {
    display: flex;
}

.side-panel {
    display: grid;
    grid-template-rows: 7fr 2fr;
    flex-direction: row;
    position: fixed;
    width: 250px;
    height: 90vh;
    z-index: 1;
}

.streamers-block {
    background-color: #f2f1ef;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 7px 5px 7px 5px;
}

.information-block {
    margin-top: 1px;
    background-color: #f2f1ef;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr;
    padding: 20px;
}

.information-block img{
    height: 2em;
    fill: aliceblue;
}

.information-block link:hover{filter:brightness(0.3) ;
}

.contacts{
    background-color: #e1dfdc;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.contacts span{
    font-size: x-large;
    align-self: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    grid-row: 1;
}

.contacts span::selection{
    color: #ffffff;
    background-color: orange;
}
.streamer {
    display: grid;
    grid-template-columns: 2fr 5fr;
    max-height: 50px;
    align-items: center;
}

.streamer img {
    height: 3rem;
    grid-column: 1;
}

.streamer-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.streamer-name {
    grid-column: 1;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.viewers {
    grid-column: 2;
    color: #7a7a7a;
    white-space: nowrap;
}

.viewers::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
    justify-self: end;
    white-space: nowrap;
}

.references{
    display: flex;
    align-self: center;
    justify-content: space-around;
    grid-row: 2;
}
